@model AllDirectorsServiceModel

@{
    ViewBag.Title = "All Directors";

    var previousPage = Model.CurrentPage - 1;

    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalDirectors / AllDirectorsServiceModel.DirectorsPerPage);

}

<label class="small font-weight-bold font-italic" asp-for="SearchTerm"></label>
<form class="form-inline" method="get">
    <input asp-for="SearchTerm" class="form-control mr-sm-2" type="search" placeholder="Search term" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

@if (Model.Directors.Count() == 0 && string.IsNullOrWhiteSpace(Model.SearchTerm))
{
    <div class="jumbotron">
        <h1 class=" text-center display-4">Hello, to the Movie info system!</h1>
        <br />
        <p class="text-center lead">There are no directors currently in the system, why don't you just add a movie with directors ?</p>
        <br />
        <br />
        <p class=" text-center lead">
            <a class="btn btn-primary btn-lg" asp-controller="Movies" asp-action="Add" role="button">Add movie</a>
        </p>
    </div>
}
else
{
    <div class="row">
        @foreach (var director in Model.Directors)
        {
            <div class="p-lg-2">
                <div class="card" style="width: 16rem; padding:7px;">
                    <img height="250" class="card-img-top" src="@director.Picture" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title">@director.FirstName @director.LastName</h6>
                    </div>
                    <div class="card-body">
                        <a asp-controller="Directors"
                           asp-action="Details"
                           asp-route-id="@director.Id"
                           class="card-link btn btn-primary text-center">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="w3-clear nextprev text-center mt-5">
        <a class="w3-left btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty) "
           asp-controller="Directors"
           asp-action="All"
           asp-route-currentPage="@previousPage">
            ❮ Previous page
        </a>
        <a class="w3-right btn btn-primary @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
           asp-controller="Directors"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)">
            Next page ❯
        </a>
    </div>
}
