@model MovieDetailsServiceModel

@{
    ViewBag.Title = "Movie details";

    var directors = Model.Directors.Select(x => x.FirstName + " " + x.LastName);
    var countries = Model.Countries.Select(x => x.Name);
    var genres = Model.Genres.Select(x => x.Type);
}

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img height="290" width="200" src="@Model.Image" alt="Card image cap">
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head">
                <h5>
                    @Model.Title
                </h5>
                <p class="proile-rating">Added to the movie info system on <span>@Model.CreatedOn</span></p>
                <label asp-for="@Model.Genres"></label>
                <h6 class="pb-5">
                    @string.Join(", ", genres)
                </h6>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Summary</a>
                    </li>
                </ul>
            </div>
        </div>
        @if (Model.IsCreator || this.User.IsInRole(WebConstants.AdministratorRoleName))
        {
            <form method="get" class="col-md-2">
                <button type="submit" class="profile-edit-btn"
                        asp-route-id="@Model.Id"
                        asp-controller="Movies"
                        asp-action="Edit">
                    Edit Movie
                </button>
            </form>
        }
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row pt-4">
                        <div class="col-md-4">
                            <label>Actors:</label>
                        </div>
                        <div class="col-md-6">
                            <p>
                                @foreach (var actor in Model.Actors)
                                {
                                    <a asp-action="Details"
                                       asp-controller="Actors"
                                       asp-route-id="@actor.Id">
                                        @actor.FirstName @actor.LastName,
                                    </a>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Directors: </label>
                        </div>
                        <div class="col-md-6">
                            <p>
                                @foreach (var director in Model.Directors)
                                {
                                    <a asp-action="Details"
                                       asp-controller="Directors"
                                       asp-route-id="@director.Id">
                                        @director.FirstName @director.LastName,
                                    </a>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Countries: </label>
                        </div>
                        <div class="col-md-6">
                            @foreach (var country in Model.Countries)
                            {

                                <a asp-action="Details"
                                   asp-controller="Countries"
                                   asp-route-id="@country.Id">
                                    @country.Name,
                                </a>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Duration: </label>
                        </div>
                        <div class="col-md-6">
                            <p>@Model.Duration minutes</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Audio: </label>
                        </div>
                        <div class="col-md-6">
                            <p>@Model.Audio</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row pt-4">
                        <div class="col-md-10">
                            <p>@Model.Summary</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5" style="display:none" id="comments-container">
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-8">
            <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5>Comments</h5>
            </div>
            @if (!Model.Comments.Any())
            {
                <h3>Currently there are no comments for this movie.</h3>
            }
            else
            {
                @foreach (var comment in Model.Comments)
                {
                    <div class="card p-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="user d-flex flex-row align-items-center"> <span><small class="font-weight-bold text-primary">@comment.AuthorName:</small> <small class="font-weight-bold">@comment.Body</small></span> </div> <small>@comment.CreatedOn</small>
                        </div>
                        <div class="action d-flex justify-content-between mt-2 align-items-center">
                            <div class="icons align-items-center"> <i class="fa fa-star text-warning"></i> <i class="fa fa-check-circle-o check-icon"></i> </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class="container text-center mt-5" style="position:center">
    <button class="btn btn-primary" id="movie-comments">Show comments (@Model.Comments.Count)</button>
    <button class="btn btn-info " style="display:none" id="add-comment">Add comment</button>
</div>

<div class="container" style="display:none" id="comment-field">
    <form method="post">
        <div class="form-group">
            <label asp-for="Comment">Comment</label>
            <textarea asp-for="Comment" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Comment" class="small text-danger"></span>
        </div>
        <button class="btn btn-success" type="submit"
                asp-controller="Movies" asp-action="AddComment"
                asp-route-id="@Model.Id">
            Submit
        </button>
    </form>
</div>


@section Scripts{

    <script>

        let movieCommentsButtonElement = document.getElementById('movie-comments');
        let commentsContainerDivElement = document.getElementById('comments-container');
        let addCommentButtonElement = document.getElementById('add-comment');
        let commentFieldContainerDivElement = document.getElementById('comment-field');

        movieCommentsButtonElement.addEventListener("click", () => {

            movieCommentsButtonElement.style.display = "none";
            commentsContainerDivElement.style.display = 'block';
            addCommentButtonElement.style.display = "block";
        });

        addCommentButtonElement.addEventListener("click", () => {
            addCommentButtonElement.style.display = "none";
            commentFieldContainerDivElement.style.display = "block";
        });
    </script>
}